<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1">
  <name>HelloWorld</name>
  <description>
    A sample Apache Cordova application that responds to the deviceready event.
  </description>
  <author email="dev@callback.apache.org" href="http://www.practi.cash/developerPracti.cash/">
    Apache Cordova Team
  </author>
  <content src="index.html" />
  <access origin="*" />
  <allow-navigation href="*" />
    <allow-intent href="*" />
    <preference name="permissions" value="none" />
    <preference name='phonegap-version' value='cli-6.5.0' />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <access origin="*" />
    <engine name="android" spec="~4.1" />
</widget>
